// app global css in SCSS form

// Header height
.q-bar--big  {
  height: 37px;
}

.q-tab  {
  min-height: 37px;
}

// New colors
.text-negative-light {
  color: lighten($negative, 20%) !important;
}
.bg-negative-light {
  background: lighten($negative, 20%) !important;
}

// Scroll
.force-scroll {
  overflow-y: scroll;
  overflow-x: auto;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: $primary;
}

::-webkit-scrollbar-thumb {
  background-color: lighten($primary, 30%);
  border-radius: 20px;
  border: 3px solid $primary;
}
